<%# FIXME %>
<%#= setup_context :object => @reading_room_request %>

<div class="row">
  <div class="col-md-3">
    <%= render_aspace_partial :partial => "reading_room_requests/sidebar", locals: {is_readonly: true} %>
  </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "reading_room_requests/toolbar" %>
    <div class="record-pane">
      <%= render_aspace_partial :partial => "reading_room_requests/form", locals: {is_readonly: true} %>
    </div>
  </div>
</div>
