<ul>
<% @data.fetch('requested_items', []).each do |item| %>
  <li>
    <%= item['item_qsa_id'] %> <%= item['item_display_string'] %>
    <% [['Copy preference', 'digital_copy_type'], ['Delivery mode', 'digital_copy_delivery'], ['Copy format', 'digital_copy_format'], ['Copy resolution', 'digital_copy_resolution'], ['Copy mode', 'digital_copy_mode'], ['Copy size', 'digital_copy_size'], ['Copy notes', 'digital_copy_notes']].reject{|entry| item[entry[1]].nil? || item[entry[1]].empty?}.each do |entry| %>
      <div><%= entry[0] %>: <%= item[entry[1]].gsub(/(?:\n\r?|\r\n?)/, '<br>') %></div>
    <% end %>
  </li>
<% end %>
</ul>